@font-face {
  font-family: Lodeh;
  font-style: normal;
  font-display: swap;
  src: url("/average-blog/fonts/Lodeh.ttf") format("truetype");
}

@font-face {
  font-family: Marion;
  font-style: normal;
  font-display: swap;
  src: url("/average-blog/fonts/Marion.otf") format("opentype");
}

@font-face {
  font-family: Marion-Bold;
  font-style: bold;
  font-display: swap;
  src: url("/average-blog/fonts/Marion-Bold.otf") format("opentype");
}

@font-face {
  font-family: Cinzel-bold;
  font-style: bold;
  font-display: swap;
  src: url("/average-blog/fonts/Cinzel-Bold.otf") format("opentype");
}

.prose {
    max-width: 80ch;
}