---
const today = new Date();
---

<footer class="flex justify-between my-16 text-xs">
    &copy; {today.getFullYear()} - Average Runners
    <div class="social-links">
        <a href="https://www.instagram.com/justavrg/" target="_blank"
            >Instagram</a
        >
    </div>
</footer>
