---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
    <nav class="flex gap-4 my-16">
        <a href="/">
            <img
                class="w-28 h-28"
                src="/Logo_Transparent.png"
                alt="avrg logo"
            />
        </a>

        <div class="flex flex-col justify-between">
            <div>
                <h2 class="text-2xl font-medium"><a>{SITE_TITLE}</a></h2>
                <p class="text-gray-600">A blog about running</p>
            </div>

            <div class="internal-links flex gap-4">
                <HeaderLink href="/">Blog</HeaderLink>
                <HeaderLink href="/about">About</HeaderLink>
            </div>
        </div>
    </nav>
</header>
